<% content_type ||= nil %>

<%= form_for [content_type, content].compact, :html => {:class => 'bp'} do |f| -%>
  <% if content.new_record? and not content_type %>
    <div>
      <%= f.label :content_type_id %>
      <%= f.collection_select :content_type_id, ContentType.all, :id, :name %>
    </div>
  <% end %>

  <div>
    <%= f.label :slug, "Slug" %>
    <%= f.text_field :slug %>
  </div>

  <div>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body, "Body" %>
    <%= f.text_area :body %>
  </div>

  <button type="submit" class="button positive">
    <img src="/images/buttons/tick.png" alt=""/> Save
  </button>
<% end -%>