<%= form_for content, :html => {:class => 'bp'} do |f| -%>
  <div>
    <%= f.label :slug, "Slug" %>
    <%= f.text_field :slug %>
  </div>

  <div>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body, "Body" %>
    <%= f.text_field :body %>
  </div>

  <button type="submit" class="button positive">
    <img src="/images/buttons/tick.png" alt=""/> Save
  </button>
<% end -%>