<h2>All Content</h2>
<div id="create_content">
  <%= link_to new_content_path, :class => 'button positive' do %>
    <!-- <%= image_tag '/images/buttons/tick.png' %>  -->Add New
  <% end %>
</div>
<div class="index_table">
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Slug</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @contents.each do |content| %>
      <tr class="<%= cycle("even", "odd") -%>">
        <td class="title">
          <%= link_to content.title, content %>
        </td>
        <td class="slug">
          <%= content.slug %>
        </td>
        <td class="actions">
          <%= link_to "Edit", edit_content_path(content), :class => 'icon edit' %>
          <%= link_to "Delete", content,
                      { :confirm => "Are you sure?",
                        :method => :delete,
                        :class => 'icon delete' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>