<h2>Content Types</h2>
<div id="create_content_type">
  <%= link_to new_content_type_path, :class => 'button positive' do %>
    <!-- <%= image_tag '/images/buttons/tick.png' %>  -->Add New
  <% end %>
</div>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @content_types.each do |content_type| %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td class="name">
        <%= link_to content_type.name, content_type %>
      </td>
      <td class="actions">
        <%= link_to "Edit", edit_content_type_path(content_type), :class => 'admin' %>
        <%= link_to "Delete", content_type,
                    { :confirm => "Are you sure?",
                      :method => :delete,
                      :class => 'negitve' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>