<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>cukes CMS</title>

  <%= stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection' %>
  <!-- [if lt IE 8]>
    <%= stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection' %>
  <![endif] -->
  <!--[if lt IE 7]>
    <%= stylesheet_link_tag 'compiled/ie6.css', :media => 'screen, projection' %>
  <[endif] -->

  <%= javascript_include_tag :defaults %>

  <%= csrf_meta_tag %>
</head>
<body class='admin'>

<div class='container'>
  <div class="header">
    <div class="logo">
      <div class="sitename">cukes CMS</div>
      <div class="tagline">Well behaved content management</div>
    </div>

    <div class="nav">
     <ul>
       <li>
         Content
         <ul>
           <li>Create Content</li>
           <li><%= link_to "Manage Content Types", content_types_path %></li>
           <li>Manage Lists</li>
         </ul>
       </li>
       <li>
         Pages
         <ul>
           <li>Create Page</li>
           <li>Manage Layouts</li>
           <li>Manage Blocks</li>
         </ul>
       </li>
       <li>
         Users
         <ul>
           <li>Create User</li>
         </ul>
       </li>
     </ul>
    </div>
  </div>

  <div class="content">
    <%= yield %>
  </div>

  <div class="footer">
    <p class="footnote">I'm in the motherloving footer.</p>
  </div>
</div>

</body>
</html>